body {
	font-size: 12px;
	font-family:Arial;
}

img {
	border: none;
	height: 16px;
	width: 16px;
}

input[type=checkbox] {
	border: 1px solid #AAA;
	padding-bottom: 5px;
}

input[type=image] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none!important;
}

#optionsArea {
	float: left;
	min-width: 250px;
	padding-bottom: 20px;
}

#controlArea {
	padding-bottom: 10px;
	padding-top: 0px;
}

.shortcutBox,.checkBox {
	border: 1px solid #ffb30f;
	background-color: #ffdd76;
}

.shortcutBox {
	width: 250px;
	margin-bottom: 10px;
}

.spacer {
	padding-top: 10px;
}

#infoText {
	font-weight:bold;
}

#optionsTitle {
	padding:0px;
	font-weight:bold;
	margin-top:2px;
	text-align:center;
}

.control {
	clear: both;
	float: left;
	padding: 5px;
}

.optionDescription {
	margin-left:20px;
	margin-top:3px;
	margin-bottom:5px;
}

#cogwheel {
	display: inline-block !important;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

input#saveButton:active {
	background: -webkit-linear-gradient(top, #0095df, #006699) !important;
	border: 1px solid #279818 !important;
	border-top: none !important;
	color: #ccff99 !important;
	margin-top: 3px;
}

input#saveButton:hover {
	background: -webkit-linear-gradient(top, #0095df, #006699)
}

.horizontalLine {
	background:none; 
	border:none; 
	padding:0px;
	margin:0px;
	border-top:1px solid #888;
}

input#saveButton {
	background-color: #006699;
	border: 1px solid #555;
	border-bottom: 1px solid #111 !important;
	border-radius: 3px;
	border-top: 1px solid #aaa;
	color: #eee;
	cursor: pointer;
	font-face: arial;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
	text-shadow: 0px 0px 5px #bbb, 1px 1px #333;
}
